<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>E-coach</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>E-coach</h1>
            <a href="{{ url_for('main_html.games') }}" class="btn">Games</a>
        </div>
    </header>
    <main>
        <div class="'description">
            <h3>O nama</h3>
            <p>E-Coach je servis koji će vam pomoći da poboljšate svoje vještine u videoigrama.</p>
        </div>
    </main>
</body>
<footer>
    <h3>Kontaktirajte nas...</h3>
    <p>Email: ecoach@mail.com</p>
    <p>Telefon: +1234567890</p>
</footer>
</html>
